# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS build stamps
**/ios/Flutter/.last_build_id

# IDE/OS
.idea/
.vscode/
*.iml
.DS_Store

# Coverage
coverage/
